<form hx-post="/search" hx-target="#results" hx-swap="outerHTML">
  <div class="field">
    <input
      class="input"
      placeholder="Enter search term"
      name="term"
      type="text"
    />
  </div>
  <div class="field">
    <button class="button is-black" type="submit">Submit</button>
  </div>
</form>
